@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__nuxt {
  @apply min-h-full;
  display: flex;
  flex-direction: column;
}

@layer components {
  .form-group {
    @apply m-3;
  }

  .form-input {
    @apply block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-cyan-600 focus:outline-none;
  }

  .btn {
    @apply w-full
    px-4 py-2 rounded border-gray-100 bg-sky-500 text-white self-end flex justify-center items-center
    leading-tight
    uppercase
    rounded
    shadow-md
    transition
    duration-150
    ease-in-out;
  }

  .sidebar-link {
    @apply hover:bg-white hover:text-sky-500 text-white py-2 px-4 rounded flex items-center;
  }

  .form-label {
    @apply inline-block mb-2 text-gray-700;
  }
}
